// color
// ----------------------------------------*/
$white: #fff;
$black: #000;
$light-gray: #eee;
$primary: #2283a3;

// font family
// ----------------------------------------*/
$noto: "Noto Sans JP", sans-serif;
$inter: "Inter", sans-serif;
$barlow: "Barlow Semi Condensed", sans-serif;

$headerHeight: var(--header-height);
$baseSpacing: 1rem;

$easingDefault: cubic-bezier(0.25, 1, 0.5, 1);
