@use "../../global" as *;

@for $i from 0 through 10 {
  .u-pt-#{$i} {
    padding-top: calc($baseSpacing * $i) !important;
  }
  .u-pr-#{$i} {
    padding-right: calc($baseSpacing * $i) !important;
  }
  .u-pl-#{$i} {
    padding-left: calc($baseSpacing * $i) !important;
  }
  .u-pb-#{$i} {
    padding-bottom: calc($baseSpacing * $i) !important;
  }
}

@include mq(max960) {
  @for $i from 0 through 10 {
    .u-pt-#{$i}-sp {
      padding-top: calc($baseSpacing * $i) !important;
    }
    .u-pr-#{$i}-sp {
      padding-right: calc($baseSpacing * $i) !important;
    }
    .u-pl-#{$i}-sp {
      padding-left: calc($baseSpacing * $i) !important;
    }
    .u-pb-#{$i}-sp {
      padding-bottom: calc($baseSpacing * $i) !important;
    }
  }
}